.list .userInput input{
    font-size: 15px;
    padding: 5px;
    width: 300px;
  }
.items .item{
    padding: 2px;
    margin: 2px;
}
.items .editButton{
    position: fixed;
    right: 860px;
    width: 50px;
    padding:2px;
    margin:2px;
    background-color:darkcyan;
    color:azure;
}
.items .deleteButton{
    position: fixed;
    right:800px;
    margin:2px;
    width: 50px;
    padding:2px;
    background-color:darkcyan;
    color:azure;
}
.listItems{
    margin-top: 30px;
}